@import "tailwindcss";

:root {
	--royal-blue: #385fb3;
	--royal-yellow: #f6dd80;
}

@theme inline {
	--royal-blue: var(--royal-blue);
	--royal-yellow: var(--royal-yellow);
}

.font-sans {
	font-family: var(--font-nunito);
}

.font-serif {
	font-family: var(--font-playfair-display);
}